<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>

    
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" 
    th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="acceuil">

 <div class="menu-bar">

<h1 th:text="${e}"></h1>
<div class="div">
      <h1 class="logo">Easy<span>Intern</span></h1></div>
      <div class="x">
      <ul> 
      <li></li><li></li><li></li>
     
        <li><b>Acceuil</a></b></li>
       
        <li><b><a href="#">Se connecter<i class="fas fa-caret-down"></i></a></b>

            <div class="dropdown-menu">
                <ul>
                  <li><b>Chef DRH</b></li>
                  <li><b>Administrateur DRH<b></b></li>

                </ul>
              </div>
        
       </li>
       
        <li><a href="#"><b>Contact</b></a></li>
      </ul>
     </div> 
    </div>

    <div class="hero">
   
    </div>


    <div class="text-center">
       
        <h1 class="extra-large-text">Explorez et trouvez votre passion avec nous!</h1>
        <p class="lead" > Rejoignez-nous maintenant!
        </p>
        <a ><b>inscrivez-vous des maintenant </b></a>

        
            </div>




</body>
</html>