<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/static/gestionnaire.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<input type="checkbox" id="menu-toggle">
<div class="sidebar">
    <div class="side-header">
        <h3>Easy<span>Intern</span></h3>
    </div>

    <div class="side-content">
        <div class="profile">
            <div class="profile-img bg-img" style="background-image: url(img/3.jpeg)"></div>
            <h4>Hanane BenAzize</h4>
            <small>Administrateur</small>
        </div>

        <div class="side-menu">
            <ul>
                <li>
                    <a href="" class="active">
                        <span class="las la-home"></span>
                        <form action="Acceuiladmin.jsp" method="post">
                            <button class="colorbutton"><b>Acceuil</b></button>
                        </form>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="">
                        <span class="las la-user-alt"></span>
                        <button class="colorbutton"><b>Stagiaire</b></button>
                    </a>
                    <div class="dropdown-menu">
                        <ul class="d">
                            <li>
                                <form action="Stagiairenouveau" method="post">
                                    <button class="butt"><b>Nouveaux</b></button>
                                </form>
                            </li>
                            <li>
                                <form action="Stagiaireencours" method="post">
                                    <button class="butt"><b>En cours</b></button>
                                </form>
                            </li>
                            <li>
                                <form action="Stagiairearchive" method="post">
                                    <button class="butt"><b>En archive</b></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="">
                        <span class="las la-envelope"></span>
                        <form action="marqueabsence" method="post">
                            <button class="colorbutton"><b>Marque absence</b></button>
                        </form>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-clipboard-list"></span>
                        <form action="Stagairenonaccepter" method="post">
                            <button class="colorbutton"><b>Stagaires non affectés</b></button>
                        </form>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-clipboard-list"></span>
                        <form action="listeEncadrant" method="post">
                            <button class="colorbutton"><b>Encadrant</b></button>
                        </form>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-clipboard-list"></span>
                        <form action="Stagairenonaccepter" method="post">
                            <button class="colorbutton"><b>Stage</b></button>
                        </form>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="main-content">
    <header>
        <div class="header-content">
            <label for="menu-toggle">
                <span class="las la-bars"></span>
            </label>
            <div>
                <label>
                    <span></span>
                </label>
                <div></div>
                <div>
                    <span></span>
                    <span></span>
                </div>
                <div class="user">
                    <div class="bg-img" style="background-image: url(img/1.jpeg)"></div>
                    <span class="las la-power-off"></span>
                    <a href="Acceuil.jsp" style="color:black">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="page-header">
            <h2>Liste des Encadrant</h2>
            <div class="input-group mb-3">
                <form action="rechercherEncadrant" method="post">
                    <input type="search" placeholder="Recherche encadrant par CIN ou par Nom" name="rech" class="form-control" size="100px">
                    <div>
                        <input class="btn btn-outline-secondary" type="submit" value="Rechercher">
                    </div>
                </form>
            </div>
        </div>
        <div class="page-content">
            <table border="1" class="table">
                <thead>
                <tr>
                    <th>CIN</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Date de Naissance</th>
                    <th>departement</th>
                    <th>etat</th>
                    <th>Division</th>
                    <th colspan="3">Action</th>
                    <!-- Add other table headers for additional properties -->
                </tr>
                </thead>
                <tbody>
                <% List<Encadrant> listEncadrant = (List<Encadrant>) request.getAttribute("listEncadrant");
                    for (Encadrant encadrant : listEncadrant) { %>
                    <tr>
                        <td><%= encadrant.getCin() %></td>
                        <td><%= encadrant.getNom() %></td>
                        <td><%= encadrant.getPrenom() %></td>
                        <td><%= encadrant.getEmail() %></td>
                        <td><%= encadrant.getTele() %></td>
                        <td><%= encadrant.getDatenaiss() %></td>
                        <td><%= encadrant.getDepartement().getNom() %></td>
                        <td><%= encadrant.getEtat() %></td>
                        <td><%= encadrant.getDivision() %></td>
                        <td>
                            <form action="modifierEncadrant" method="post">
                                <input type="hidden" name="cin" value="<%= encadrant.getCin() %>">
                                <input class="btn btn-info" type="submit" value="modifier">
                            </form>
                        </td>
                        <td>
                            <form action="supprimerEncadrant" method="post">
                                <input type="hidden" name="cin" value="<%= encadrant.getCin() %>">
                                <input class="btn btn-danger" type="submit" value="supprimer">
                            </form>
                        </td>
                    </tr>
                    <% } %></tbody>

            </table>
        </div>
    </main>
    <form action="ajouterEncadrant" method="post">
        <input class="btn btn-success" type="submit" value="ajouter encadrant">
    </form>
</div>
</body>
</html>
